@import url('https://fonts.googleapis.com/css?family=Shojumaru&display=swap');
body,img{
margin:0 auto;
border:0;

}

h2{
font-family: 'Shojumaru', cursive;
}
h3{
font-family:cursive;	
}
img{
  border:10px solid #6b0100;
     width: 400px;
    border-radius: 20px;
      display: inline-block;
  text-align: center;

}
li{
  style-list:none;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
}
ul{
  text-align: center;
  background-color:#696969;

}
header>h1{
  font-family: 'Shojumaru', cursive;
  text-align: center;
  color:white;
  font-size: 45px;
}
a{
  text-decoration: none;
}
li>a{
    color: white;
}
header{
    background-color:#6b0100;
}
p{
font-size: 17px;
  display: inline-block;
  text-align: center;

}
footer{
	background-color: #778899;

}
main {
  margin: 20px 0;
  padding: 10px;
}

main div {
  
 margin: 0 auto;
  padding: 15px;
  margin: 5px auto;
}
