@import url('https://fonts.googleapis.com/css?family=Shojumaru&display=swap');

#voltar {
  animation: live-streaming-pulse 0.7s infinite;
  text-transform: uppercase;
}
body,h1,article,section{
margin: 0 ;
border:0;
}

body {
  background-color:#080707de;
  text-align: justify;
}

header h1 {
    font-family: 'Shojumaru', cursive;
  text-align: center;
  color:white;
  font-size: 45px;
}

ul {
  text-align: center;
  
}

li {
  style-list:none;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
}

li>a {
    color: white;
}

header {
    
}

p {
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 17px;
  display: inline-block;
  margin-right: 100px;
  margin-left: 100px;
  color: #fff;
}

h1 {
  padding-left: 5px;
  padding-right: 5px;
 text-align:center;
  margin-right: 100px;
  margin-left: 100px;
  color: #fff;
 }

 h2 {
  font-family: 'Shojumaru', cursive;
   padding-left: 5px;
   padding-right: 5px;
 text-align:center;
  margin-right: 100px;
  margin-left: 100px;
  color: #fff;
 }

h3{
font-family:cursive;
color: #fff;
 text-align:center;
  margin-right: 100px;
  margin-left: 100px;
}

img{
  border:5px solid #6b0100;
     width: 400px;
    border-radius: 20px;
  text-align: center;
}
#esquerda{
  position: relative;
  left: 6em;
}
#direita{
  position: relative;
  left: 18em
}
[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}



[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
.topo3{
  background-image: url(imagens/fest.jpeg);
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      height: 30em;
      width: auto;
      
      position: relative;
  }
  .modal h1{
    color: black;
  }
  .modal h2{
    color: black;
  }
  .modal p{
    color: black;
  }