@import url('https://fonts.googleapis.com/css?family=Shojumaru&display=swap');
body,h1{
margin: 0 ;
margin-top: 0;
}
body{
  background-color:#D3D3D3;
}
header>h1 {
  font-family: 'Shojumaru', cursive;
  text-align: center;
  color:white;
  font-size: 45px;
}
.contra-baixo{
    text-align: justify;
}
img{
  border:5px solid #6b0100;
     width: 400px;
    border-radius: 20px;

}
ul {
  text-align: center;
  background-color:#696969;
}

li {
  style-list:none;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
}

li>a {
    color: white;
}

header {
    background-color:#6b0100;
}

.icon{
	width: 64px;
	height: 64px;
}
h1{
font-family: 'Shojumaru', cursive; // BATERIA!!!
}
h2{
font-family:cursive; 
text-align: justify;

}
p{
  text-align: justify;
}
