@import url('https://fonts.googleapis.com/css?family=Shojumaru&display=swap');

#ul{
	text-align: left;
	background-color: #D3D3D3;
}
.li{
	text-align: left;
	display: inline;
	font-family: cursive;
	position: static;

}
h1{
	font-family: 'Shojumaru',cursive;
}
main>h1{
	padding-left: 1000px;
}
h4{
	font-family: cursive;
	font-size: 18.5px;
}

