@import url('https://fonts.googleapis.com/css?family=Shojumaru&display=swap');
body,h1,article,section{
	margin: 0 ;
	border:0;
	}
	
	body {
	  background-color:#080707de;
	  text-align: justify;
	}
	
	header h1 {
		font-family: 'Shojumaru', cursive;
	  text-align: center;
	  color:white;
	  font-size: 45px;
	  position: relative;
		top: 1em;
	}
	
	ul {
	  text-align: center;
	  position: relative;
		top: 3em;
	  
	}
	
#ul{
	color: #fff;
	position: relative;
    top: 8em;
}
.li{
	text-align: left;
	display: inline;
	font-family: cursive;
	position: static;

}
h1{
	font-family: 'Shojumaru',cursive;
	top: 3em;
    position: relative;
}
main>h1{
	padding-left: 1000px;
}
h4{
	font-family: cursive;
	font-size: 18.5px;
}

p {
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 17px;
	display: inline-block;
	margin-right: 100px;
	margin-left: 100px;
	color: #fff;
  }
  
  h1 {
	padding-left: 5px;
	padding-right: 5px;
   text-align:center;
	margin-right: 100px;
	margin-left: 100px;
	color: #fff;
   }
  
   h2 {
	font-family: 'Shojumaru', cursive;
	 padding-left: 5px;
	 padding-right: 5px;
   text-align:center;
	margin-right: 100px;
	margin-left: 100px;
	color: #fff;
   }
  
  h3{
  font-family:cursive;
  color: #fff;
   text-align:center;
	margin-right: 100px;
	margin-left: 100px;
  }
  li {
	style-list:none;
	display: inline-block;
	padding: 10px;
	position: relative;
	text-align: justify;
  }
  ul a{
	  color:#fff;
  }
  a {
	text-decoration: none;
  }