
  .ultimoMargem0>:last-child{
    margin-bottom:0;
  }
  .ultimoMargem0>:first-child{
    margin-top:0;
  }

  .modal{
    transition: visibility 200ms linear,opacity 200ms linear;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .oculto{
    visibility: hidden;
    opacity:0;

  }
  .modal>*{
    background-color: white;
    box-shadow: 3px 3px 3px #A9A9A9;
    padding:32px 48px;
    width: 75%;
    height: 95%;
    box-sizing: border-box;
    max-height:60%;
    overflow-y:scroll;


  }
  .fechar{
    height:20px;
    width: 20px;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    background: none;
    border:none;
    outline:none;
    color:inherit;
    border-radius: 50%;
    transition: background-color 200ms linear,color 200ms linear;
    display: block;
    position: sticky;
    top:0;
    margin-bottom:-20px;
    margin-left: auto;
    margin-right: -16px;
  }
  .fechar:hover{
    background-color: #8B0000;
    color:#efefef;
  }
  .fechar:hover:active{
    background-color: #8B0000;
  }
  @media (max-width:1000px) {
    .modal>*{
      padding:32px 4.8vw;
    }
    .fechar{
      margin-right: -1.6vw;
    }
  }

#meclica{

  background-color: #6b0100;
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: 15px;
 border-radius: 20px;
 border-color:#6b0100;
 padding-top: 10px; 
    text-align: center;
  padding-bottom: 10px;
    margin: auto;
    position: relative;
    left: 35em;
}

article{
  display: block;
}
#imgs{
  border:5px solid #6b0100;
     width: 300px;
     height: 200px;
    border-radius: 20px;
 display: block;
     margin-left: auto;
    margin-right: auto;
   text-align:justify;

}
#imgs-vitor{
 border:5px solid #6b0100;
     width: 300px;
     height: 400px;
    border-radius: 20px;
 display: block;
     margin-left: auto;
    margin-right: auto;
   text-align:justify;
}

#imgs-bruna{
 border:5px solid #6b0100;
     width: 300px;
     height: 350px;
    border-radius: 20px;
 display: block;
     margin-left: auto;
    margin-right: auto;
   text-align:justify;
}
#img-pacoca{
 border:5px solid #6b0100;
     width: 200px;
     height: 400px;
    border-radius: 20px;
 display: block;
     margin-left: auto;
    margin-right: auto;
   text-align:justify;
}
#imgs-caete{
 border:5px solid #6b0100;
     width: 300px;
     height: 350px;
    border-radius: 20px;
 display: block;
     margin-left: auto;
    margin-right: auto;
   text-align:justify;
}
#imgs-wilson{
 border:5px solid #6b0100;
     width: 300px;
     height: 350px;
    border-radius: 20px;
 display: block;
     margin-left: auto;
    margin-right: auto;
   text-align:justify;
}
h1{
font-family: 'Shojumaru', cursive;
  text-align:justify;
  margin-right: 100px;
  margin-left: 100px;
}
h2{
  font-family: 'Shojumaru', cursive;
  text-align:justify;
  margin-right: 100px;
  margin-left: 100px;
}
p{
text-align: justify;

}
footer{
  margin: 0 auto;
  border:0;
  background-color: #6b0100;
  position: relative;
    height: min-content;
}
